.user {
  height: 133px;
}

.avatar-area {
  position: relative;
}
.auth-avatar {
    cursor: pointer;
}

.edit-avatar {
  position: absolute;
  top: 65%;
  left: 55%;
  background-color: silver;
  border-radius: 50%;
  width: 24px;
  cursor: pointer;
}

.list-group-item {
  border: 0px !important;
}

.profile-tabs :hover {
  background-color: #f7f6fc;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.5s;
}

.profile-tabs {
  height: 50px;
  border-radius: 50px;
}

.profile-tabs p {
  padding-top: 12px;
  padding-left: 10px;
}

.card ul li {
  list-style-type: none;
}



.card {
  border: 0px !important;

}

.card-header {
  background-color: inherit !important;
  border-bottom: 1px 2px !important;
  height: 50px !important;
}

/* default hidden */
.page {
  display: none !important;
}

/* show when choosed */
.page:target {
  display: block !important;
}


.icon-style {
  font-size: 80px;
}

a{
  color: inherit !important;
  text-decoration: none !important;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid rgb(204, 204, 204);
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.img-sm {
    width: 46px;
    height: 46px;
}
.img-circle {
    border-radius: 50%;
}

.panel {
    box-shadow: 0 2px 0 rgba(0,0,0,0.075);
    border-radius: 0;
    border: 0;
    margin-bottom: 15px;
}

.panel .panel-footer, .panel>:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.panel .panel-heading, .panel>:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.panel-body {
    padding: 25px 20px;
}


.media-block .media-left {
    display: block;
    float: left
}

.media-block .media-right {
    float: right
}

.media-block .media-body {
    display: block;
    overflow: hidden;
    width: auto
}

.middle .media-left,
.middle .media-right,
.middle .media-body {
    vertical-align: middle
}

.thumbnail {
    border-radius: 0;
    border-color: #e9e9e9
}

.tag.tag-sm, .btn-group-sm>.tag {
    padding: 5px 10px;
}

.tag:not(.label) {
    background-color: #fff;
    padding: 6px 12px;
    border-radius: 2px;
    border: 1px solid #cdd6e1;
    font-size: 12px;
    line-height: 1.42857;
    vertical-align: middle;
    -webkit-transition: all .15s;
    transition: all .15s;
}
.text-muted, a.text-muted:hover, a.text-muted:focus {
    color: #acacac;
}
.text-sm {
    font-size: 0.9em;
}
.text-5x, .text-4x, .text-5x, .text-2x, .text-lg, .text-sm, .text-xs {
    line-height: 1.25;
}

.btn-trans {
    background-color: transparent;
    border-color: transparent;
    color: #929292;
}

.btn-icon {
    padding-left: 9px;
    padding-right: 9px;
}

.btn-sm, .btn-group-sm>.btn, .btn-icon.btn-sm {
    padding: 5px 10px !important;
}

.mar-top {
    margin-top: 15px;
}

.custom-table {
    background-color: var(--secandory--2);
    max-width: 700px;
    border-radius: 10px;
  }
    .custom-table thead tr, .custom-table thead th {
      padding-bottom: 30px;
      border-top: none;
      border-bottom: none !important;
      color: #fff;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: .2rem; }
    .custom-table tbody th, .custom-table tbody td {
      color: #777;
      font-weight: 400;
      /* padding-bottom: 20px; */
      /* padding-top: 20px; */
      font-weight: 400;
      border: none;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease;
      color: #fff; }
      .custom-table tbody th small, .custom-table tbody td small {
        font-weight: 300;
      }

    .custom-table tbody tr {
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
      .custom-table tbody tr:hover td, .custom-table tbody tr:focus td {
        color: #fff; }
        .custom-table tbody tr:hover td a, .custom-table tbody tr:focus td a {
          color: var(--strange); }

    .custom-table .td-box-wrap {
      padding: 0; }
    .custom-table .box {
      background: #fff;
      border-radius: 4px;
      margin-top: 15px;
      margin-bottom: 15px; }
      .custom-table .box td, .custom-table .box th {
        border: none !important; }

        .padd-top {
          padding-top: 1.9rem !important;
        }
  .opacity-50 {
    opacity: .2;
  }
  .custom-table a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
  color: white;}
    .custom-table a, .custom-table a:hover {
      text-decoration: none !important; }

      .custom-table tr img {
          width: 70px;
          height: 70px;
      }

      .table-head {
          color: var(--secandory--2);
          font-weight: 700;
      }


      .card p {
        line-height: 1.61em;
        font-weight: 300;
        font-size: 1.2em;
    }

    .category {
        text-transform: capitalize;
        font-weight: 700;
        color: #9A9A9A;
    }
