*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
    overflow-x: hidden !important;
    /* font-size: 0.7rem !important;
    font-family: sans-serif; */

}

a {
    color: black;
    text-decoration: none !important;
  }
.goToTop{
    position: fixed;
    bottom: 5% ;
    right: 3%;
    width: 35px;
    height: 35px;
    background-color: white;
    z-index: 999;
    border-radius: 50%;
    box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/* loading spinner */
#loading{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(70, 52, 19);
    z-index: 999999999999999999999999999 !important;
    /* overflow: hidden !important ; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }

  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg);
  }
  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg);
  }
  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg);
  }
  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  @-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0;
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0;
    }
  }

  @keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0;
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0;
    }
  }


/* end loading spinner */




/* navbar */
.mainNav{
    position: fixed;
    top: 0;
    z-index: 99999999999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: 0.5s all;
    box-shadow: 1px 1px 2px #888888;
}

.dropdown-toggle::after{
    content: "";
    display:none !important;

}

.navbar-collapse{
    flex-grow: 0 !important;
}

















/* search in navbar */

.search {
    position: relative;
    margin: 0 auto;
    width: 300px;
}

.search input {
    font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #555860;

    height: 30px;
    width: 100%;
    padding: 0 12px 0 25px;
    background: white url("https://cssdeck.com/uploads/media/items/5/5JuDgOa.png") 8px 6px no-repeat;
    border-width: 1px;
    border-style: solid;
    border-color: #a8acbc #babdcc #c0c3d2;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -moz-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
}

.search input:focus {
    outline: none;
    border-color: #66b1ee;
    -webkit-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -moz-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -ms-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -o-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}

.search input:focus + .results { display: block }

.search .results {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #cbcfe2 #c8cee7 #c4c7d7;
    border-radius: 3px;
    background-color: #fdfdfd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #eceef4));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -moz-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -ms-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -o-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: linear-gradient(top, #fdfdfd, #eceef4);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.search .results li { display: block }

.search .results li:first-child { margin-top: -1px }

.search .results li:first-child:before, .search .results li:first-child:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    border: 5px outset transparent;
}

.search .results li:first-child:before {
    border-bottom: 5px solid #c4c7d7;
    top: -11px;
}

.search .results li:first-child:after {
    border-bottom: 5px solid #fdfdfd;
    top: -10px;
}

.search .results li:first-child:hover:before, .search .results li:first-child:hover:after { display: none }

.search .results li:last-child { margin-bottom: -1px }

.search .results a {
    display: block;
    position: relative;
    margin: 0 -1px;
    padding: 6px 40px 6px 10px;
    color: #808394;
    font-weight: 500;
    text-shadow: 0 1px #fff;
    border: 1px solid transparent;
    border-radius: 3px;
}

.search .results a span { font-weight: 200 }

.search .results a:before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -9px;
    background: url("https://cssdeck.com/uploads/media/items/7/7BNkBjd.png") 0 0 no-repeat;
}

.search .results a:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    border-color: #2380dd #2179d5 #1a60aa;
    background-color: #338cdf;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #59aaf4), color-stop(100%, #338cdf));
    background-image: -webkit-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -moz-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -ms-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -o-linear-gradient(top, #59aaf4, #338cdf);
    background-image: linear-gradient(top, #59aaf4, #338cdf);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -ms-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -o-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
}

:-moz-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

::-webkit-input-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

.lt-ie9 .search input { line-height: 26px }


/* end search in navbar */





















/* end navbar */


/* Swipper slider */
html,body {
  position: relative;
  height: 100%;
}

body {
  /* background:#CFCFCF; */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 85vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: yellowgreen;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
    /* display: block; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

/* end Swipper slider */





/* slider customize */
.slideContiner{
    width: 100%;
    height: 100%;
    z-index: 9 !important;
}
.slideImageContiner{
    position: relative;
    height: 100%;

}

.slideContentContiner{
    height: 100%;
    width: 50%;

    position: absolute;
    top: 0%;
    left: 0%;
}
.slideContentOverlay{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: flex-end;


}
.slideContentContainer{
    text-align: right;
}
.slideContentContainer h2{

    color: white;
    font-weight: 900;
}
.slideContentContainer p{
    color: rgb(255, 215, 140);
}

/*------- slider overlay categories */
.sliderOverlayContainer{
    position: relative;
    height: 60vh;
    width: 100%;
    /* background-color: cornflowerblue; */
}
.sliderCategories{

    position: absolute;
    top: -15%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

@media only screen and (max-width: 770px) {
    .sliderCategories{
        display:none ;
    }
    .sliderOverlayContainer{
        height: 0;
    }
}

.sliderCategories .sliderCategoryImageContainer {
    /* height: 500px; */
    position: relative;

}

.sliderCategoryImageContainer img {
    height: 400px;
}

.categoryTitle{
    position: absolute;
    /* top: 5%;
    left: 50%;
    transform: translateX(-50%); */
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);


}
.categoryTitle h5 {
    color: white;
    font-weight: 700 !important;
    font-size: 24px !important;
}
.categoryTitleOverlay{
    height: 80%;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    opacity: 0;
    transition: 0.3s ;
}
.categoryTitleOverlay div {
    height: fit-content;
    width: 100%;
    color: white;
}
.categoryTitle:hover .categoryTitleOverlay{
    opacity: 1;
}
.categoryTitle:hover{
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;

}

/* end slider customize */


/* Categories */
.latestActions{
    /* background-color: bisque; */
}
.latestActionsCategories{
    width: 90vw;
    margin: auto;
}

.latestActionsCategoryOne{
    /* background-image: url(../images/masonry-banner111-1024x466.jpg); */
    background-image: url("/img/home/masonry-banner111-1024x466.jpg");

    /* {{ asset('img/home/project-1.jpg ')}} */
    background-size:  100% 100%;
    height: 40vh;
}
.latestActionsCategoryTwo{
    background-image: url("/img/home/masonry-banner33332-1-1024x653.jpg");
    background-size:  100% 100%;
    height: 50vh;
}
.latestActionsCategoryThree{
    background-image: url("/img/home/masonry-banner222-1-1024x653.jpg");
    background-size:  100% 100%;
    height: 50vh;
}
.latestActionsCategoryFour{
    background-image: url("/img/home/masonry-banner444-1-1024x466.jpg");
    background-size:  100% 100%;
    height: 40vh;
}


.categoryName , .categoryCount{
    color: white;
}

.viewMore{
    background-color: transparent;
    color: white;
    width: 100px;
    padding: 5px;
    border: solid 1px white;
}
.categoryContent{
    height: 100%;
    border: solid 2px transparent;
    transition : 0.15s all;
}


.category:hover .categoryContent{
    border: solid 2px white;

}




/* end categories */

/* sub categories */


@keyframes spin {
    0% {
        transform: rotate(0deg);
   }
    100% {
        transform: rotate(360deg);
   }
}
@keyframes color-1 {
    0% {
        background-color: #eb73b9;
   }
    100% {
        background-color: #17ead9;
   }
}
::selection {
    background: #6078ea;
    color: white;
    text-shadow: none;
}
::-webkit-selection {
    background: #6078ea;
    color: white;
    text-shadow: none;
}


.field-container {
    position: relative;
    padding: 0;
    margin: 0;
    border: 0;
    width: 330px;
    height: 40px;
}
.icons-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2%;

    width: 35px;
    height: 35px;
    overflow: hidden;
}
.icon-close {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 75%;
    height: 75%;
    opacity: 0;
    cursor: pointer;
    transform: translateX(-200%);
    border-radius: 50%;
    transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
}
.icon-close:before {
    content: "";
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border: 2px solid transparent;
    border-top-color: #6078ea;
    border-left-color: #6078ea;
    border-bottom-color: #6078ea;
    transition: opacity 0.2s ease;
}
.icon-close .x-up {
    position: relative;
    width: 100%;
    height: 50%;
}
.icon-close .x-up:before {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 3px;
    width: 50%;
    height: 2px;
    background-color: #6078ea;
    transform: rotate(45deg);
}
.icon-close .x-up:after {
    content: "";
    position: absolute;
    bottom: 2px;
    right: 0px;
    width: 50%;
    height: 2px;
    background-color: #6078ea;
    transform: rotate(-45deg);
}
.icon-close .x-down {
    position: relative;
    width: 100%;
    height: 50%;
}
.icon-close .x-down:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 4px;
    width: 50%;
    height: 2px;
    background-color: #6078ea;
    transform: rotate(-45deg);
}
.icon-close .x-down:after {
    content: "";
    position: absolute;
    top: 5px;
    right: 1px;
    width: 50%;
    height: 2px;
    background-color: #6078ea;
    transform: rotate(45deg);
}
.is-type .icon-close:before {
    opacity: 1;
    animation: spin 0.85s infinite;
}
.is-type .icon-close .x-up:before, .is-type .icon-close .x-up:after {
    animation: color-1 0.85s infinite;
}
.is-type .icon-close .x-up:after {
    animation-delay: 0.3s;
}
.is-type .icon-close .x-down:before, .is-type .icon-close .x-down:after {
    animation: color-1 0.85s infinite;
}
.is-type .icon-close .x-down:before {
    animation-delay: 0.2s;
}
.is-type .icon-close .x-down:after {
    animation-delay: 0.1s;
}
.icon-search {
    position: relative;
    top: 5px;
    left: 8px;
    width: 50%;
    height: 50%;
    opacity: 1;
    border-radius: 50%;
    border: 3px solid #c7d0f8;
    transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
}
.icon-search:after {
    content: "";
    position: absolute;
    bottom: -9px;
    right: -2px;
    width: 4px;
    border-radius: 3px;
    transform: rotate(-45deg);
    height: 10px;
    background-color: #c7d0f8;
}
.field {
    border: 0;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    background: white;
    border-radius: 3px;
    box-shadow: 0px 8px 15px rgba(75, 72, 72, 0.1);
    transition: all 0.4s ease;
}
.field:focus {
    outline: none;
    box-shadow: 0px 9px 20px rgba(75, 72, 72, 0.3);
}
.field:focus + .icons-container .icon-close {
    opacity: 1;
    transform: translateX(0);
}
.field:focus + .icons-container .icon-search {
    opacity: 0;
    transform: translateX(200%);
}








/* end sub categories */



/* Products */
.productsSectionContainer{
    width: 92vw;
    margin: auto;

}
.productsWrapper{
    /* background-color: aqua; */
    box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
    overflow: hidden;
    opacity: 1;
    /* transition: transform 1s;
    -webkit-transition: -moz-transform .3s ease-out;
    -moz-transition: -webkit-transform .3s ease-out;  */


}

.productContainer{
    position: relative;
    border-bottom: solid 1px #EFF2F4;

}
.productOptions{
    position: absolute;
    top: 5%;
    left: 5%;
    flex-direction: column;
    display: flex;
}


.iconProductContainer{
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    padding: 5px;
    font-size: 15px !important;
    cursor: pointer;
}

.wishlistActive{
    background-color: #09c !important;
}
.wishlistNotActive{
    background-color: white !important;
}

.wishlistIconActive{
    color: white !important;
}
.wishlistIconNotActive{
    color: black !important;
}

.productBidTimer{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: fit-content;
    background-color: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    opacity: 1;
    transition: all 0.5s;


}


.productDetails h5 {
    font-size: 1.7rem !important;
}

.counterItem h6{
    font-size: 1.2rem !important;
    font-weight: 400 !important;
}
.counterItem p{
    font-size: 0.65em !important;
}

.rightBorder::after  {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0.5px;
    height: 90%;
    background-color: grey;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}

.productsWrapper:hover .productBidTimer{
    /* display: none; */
    opacity: 0;
}
.productImageContainer img {

}


/* end products */





/* recommendedProducts */

.recommendedSection{
    width: 90%;
    margin: auto;
}



.productItemDetails{
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}

.productItemDetails h5{
    font-size: 1.5rem !important;
}
.sideCategory{
    width: 100%;
    /* margin: auto; */
    /* height: 100%; */
    height: 100% !important;
    background-color: #09c;
}
@media only screen and (max-width: 770px) {
    .sideCategory{
        height: auto !important;
    }
}
/* end recommendedProducts */




/* section title subtile */

.titleSubtileHolder{
    width: 100%;
    height: 100px ;
}

.sectionTitleContainer{
    text-align: center;
}

.sectionTitle{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800 !important;
    font-size: 2.9rem;
}
.bidIconContainer{
    position: relative;
}

.bidIconContainer::before{
    content: '';
    position: absolute;
    transform: translate(-115%,-50%);
    top: 50%;
    left: 50%;
    width: 15vw;
    height: 1px;
    background-color: gray;
}

.bidIconContainer::after{
    content: '';
    position: absolute;
    transform: translate(15%,-50%);
    top: 50%;
    left: 50%;
    width: 15vw;
    height: 1px;
    background-color: gray;
}
/* end section title subtile*/


/* categories slider section */

.owl-dots{
    display: none !important;
}
.owl-prev , .owl-next {
    width: 30px !important;
    font-size: 35px !important;
    /* border-radius: 50% !important; */
    height: 100px !important;
    transition: 0.3s !important;
    /* border: solid 1px !important; */
    box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);

    background-color: white !important;
    color: black !important;
    margin: 0 !important;

}
.owl-prev:hover , .owl-next:hover {
    background-color:rgb(53, 51, 51) !important;
    color: white !important;

}

.owl-nav {
    /* margin: 0 !important; */
    display: flex !important;
    justify-content: space-between;
    position: absolute !important;
    width: 100% !important;
    top: 50%;
    transform: translateY(-50%);


}
/* end categories slider section */




/* start footer */

.page-container {
    position: relative !important;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}


.footer-copytight{
    position: absolute !important;
    bottom: 0 !important;
    width: 100%;
    height: 2.7rem;
    background-color: #EAEDED;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-copytight div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    color: #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}

/* end footer */



/* button  */



.custom-btn {
    width: 100px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}


  /* 7 */
.btn-7 {
    /* background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%); */
    background-color: white;
    border: solid 2px black;
    line-height: 30px;
    padding: 0;
    border: none;
}
.btn-7-span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    color: gray;
}
.btn-7:before,
.btn-7:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgba(251,75,2,1);
    box-shadow:
        -7px -7px 20px 0px rgba(255,255,255,.9),
        -4px -4px 5px 0px rgba(255,255,255,.9),
        7px 7px 20px 0px rgba(0,0,0,.2),
        4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}
.btn-7:before{
    height: 0%;
    width: 2px;
}
.btn-7:after {
width: 0%;
height: 2px;
}
.btn-7:hover{
    color: rgba(251,75,2,1);
    background: transparent;
}
.btn-7:hover:before {
height: 100%;
}
.btn-7:hover:after {
width: 100%;
}
.btn-7-span:before,
.btn-7-span:after {
position: absolute;
content: "";
left: 0;
top: 0;
background: rgba(251,75,2,1);
box-shadow:
    -7px -7px 20px 0px rgba(141, 64, 64, 0.9),
    -4px -4px 5px 0px rgba(255,255,255,.9),
    7px 7px 20px 0px rgba(0,0,0,.2),
    4px 4px 5px 0px rgba(0,0,0,.3);
transition: all 0.3s ease;
}
.btn-7-span:before {
width: 2px;
height: 0%;
}
.btn-7-span:after {
    height: 2px;
    width: 0%;
  }
  .btn-7-span:hover:before {
    height: 100%;
  }
  .btn-7-span:hover:after {
    width: 100%;
  }


/* end button */



/* profile sidebar button */

