* ,
*::after ,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main: #EEEEEE ;
    --secodry: #393E46 ;
    --strange: #00ADB5 ;
    --secandory--2: #222831 ;
    --bg : #fafafa;
}
.add-product--head {
    color: var(--strange);
    position: relative;
    font-size: 19px;
}
.add-product--head::after {
    position: absolute;
    left: 0;
    top: 34px;
    height: 0;
    width: 100%;
    content: '';
    height: 3px;
    background-color: var(--strange);
}

.add-product--underline {
    width: 100%;
    height: 1px;
    background-color: rgb(236, 236, 216);
    border-radius: 10px;
}

.form-control:focus {
color: gray !important;
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px rgba(105, 139, 152 , 0.6);
border-color: var(--strange) !important;
}
.add-product--label {
    font-weight: 500;
}

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
 @import url('https://fonts.googleapis.com/css?family=Roboto');

 html, body {
	 height: 100%;
}
 body {
	 padding: 2rem;
	 background: #f8f8f8;
}
.add-product-btn--customize {
    background-color: var(--strange);
    border-color: var(--strange) ;

}
.add-product-btn--customize:hover {
    background-color: #779aa8;
    border-color: var(--strange) ;
}
.bg-custom {
    background-color: #389EFF !important;
}
