* ,
*::after ,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.product-header--subtitle {
    color: #868686;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 400;
}
.product--underline {
    width: 100%;
    height: 1px;
    background-color: rgb(236, 236, 216);
    border-radius: 10px;
}
.product-header--title {
    font-weight: 700;

}
@media only screen and (min-width : 1200px) {
    .container { max-width: 1430px; }
}
@media only screen and (max-width : 700px) {
   .pad-media {
       padding-top: 10px;
   }
}

.product-img {
    box-shadow: 0 0 25px rgba(0, 0, 0, 10%);
}
.product-desc--header {
font-weight: bold;
font-size: 26px ;
}

.product-price {
    color: #389EFF;
}


.bid-timer {
    width: 90%;
    margin-bottom: 8px;
    margin: 0 auto ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 10%);
  }

  .bid-timer th {
    color: #666;
    font-size: 11px;
    font-weight: 800;
    font-weight: normal;
    text-transform: uppercase;
    padding: 5px;

  }


  .bid-days, .bid-hours, .bid-mins, .bid-secs {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    width: 25%;
    /* padding: 5px; */
    /* color: #0a0; */
  }
  th {
      text-align: center;
  }

  .svcd-blastoff {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  .bid-until {
    margin: 0;
    font-size: 13px;
    text-align: center;
  }
  .bid-blastoff {
      color: black;
      font-weight: 600;
  }
  .outline-secondary {
      outline: black;
  }
  .input-number {
      text-align: center;
  }
  .btn-number {
      border: 1px solid rgba(0, 0, 0, 0.2);
  }

  .bid-btn {
    border-radius: 30px!important;
    padding: 8px 20px;
      background-color: #389EFF;
      /* padding: 5px; */
  }
  .wishlist-btn {
    border-radius: 50%;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);

      /* padding: 5px; */
  }

  .span-bold {
      color: black;
      font-weight: 700;
  }

  .pointer {
      cursor: pointer;
  }
  .wishlistActive{
    background-color: #09c !important;
}
